* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
  }
  .container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 12px;
  }
  
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 72px;
  }
  
  header .logo {
    font-size: 24px;
    font-weight: bold;
  }
  
  header ul {
    display: flex;
    list-style-type: none;
  }
  
  header ul li {
    margin: 12px;
  }
  
  header ul li a {
    display: block;
    padding: 12px;
    text-decoration: none;
    color: #777;
  }
  
  header ul li a:hover {
    color: #000;
  }
  
  #hero {
    height: calc(100vH - 72px);
    display: flex;
    align-items: center;
  }
  
  #hero div:first-child {
    width: 60%;
    padding: 32px 64px 32px 0;
  }
  
  #hero div:last-child {
    display: flex;
    justify-content: center;
    width: 40%;
  }
  
  #hero .title {
    font-size: 64px;
    font-weight: 300;
    margin: 32px 0;
  }
  
  #hero input, #hero button {
    width: 60%;
    margin: 12px 0;
    padding: 16px 8px;
  }
  
  #hero input {
    border: 1px solid #ccc;
  }
  #hero button {
    border: none;
    background-color: #78256d;
    color: white;
    border-radius: 4px;
    font-weight: 700;
    cursor: pointer;
  }
  
  #hero .subtitle {
    font-size: 24px;
    font-weight: 300;
    margin: 32px 0;
  }
  
  #hero .banner {
    width: 90%;
    height: auto;
  }
  
  #promotions {
    background: #78256d;
    padding: 80px 0;
    color: white;
  }
  
  #promotions .title {
    font-size: 48px;
  }

 .container > .title{
    text-align: center;
 }

 .promotions-container{
    display: flex;
    margin-top: 50px;
    flex-wrap: wrap;
    justify-content: center;
}

 .caixa{
    width: 350px;
    height: 602px;
    box-shadow: 0px 4px 20px 7px #00000012;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.caixa{
    margin-right: 35px;
}

.caixa-jogo{
    width: 350px;
    height: 417px;
    background-color: white;
    border-bottom: 2px solid #78256d;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.caixa-jogo img{
    padding-top: 36px;
}

.caixa-preco{
    width: 350px;
    height: 185px;
    background-color: #F5F5F5;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    flex-direction: column;
    padding-left: 25px;
    justify-content: space-evenly;
    color:#78256d;
    font-weight: bold;
}


.caixa-preco p:first-of-type{
    color:#D93C65;
    font-size: 14px;
}

.caixa-preco p:last-of-type{
    color:#D93C65;
    font-size: 18px;
    font-weight: 900;
    text-decoration:line-through;
}

button{
    width: 240px;
    height: 52px;
    border-radius: 5px;
    color: white;
    background-color: #D93C65;
    font-size: 18px;
    font-weight: 900;
    font-family:'Roboto', sans-serif;
    text-align: center;
    border: none;
    cursor: pointer;
}

footer img{
    height: 45px;
}

footer{
    background-color:white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: black;
    padding: 20px 0;
}

footer p{
    margin-right: 12px;
}
  
  @media (max-width: 1440px) {
    .container {
      padding: 0 32px;
    }
  }
  
  /* Tablet */
  @media (max-width: 1024px) {
    #hero .title {
      font-size: 48px;
    }
  
    #hero .subtitle {
      font-size: 18px;
    }
  
  
    #hero input, #hero button {
      width: 100%;
    }
  }
  
  @media (max-width: 768px) {
    header ul {
      display: none;
    }
  
    header {
      justify-content: center;
    }
  
    #hero {
      height: auto;
    }
    
    #hero div:first-child {
      width: 100%;
      padding: 0;
      text-align: center;
    }
  
    #hero div:last-child {
      display: none;
    }
    
    #hero .banner {
      width: auto;
      height: 200px;
    }
  }